/* * {
    border: 1px solid red;
} */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Open Sans Condensed', sans-serif;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

header {
    border-bottom: 3px solid gray;
}

.logo {
    border: 8px solid orange;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 15px 0px 0px 0px;
}

.logo span {
    line-height: 80px;
    font-size: 5em;
    font-weight: bolder;
    color: orange;
    font-family: 'Lobster Two', cursive;
}

.myName, .myProfession {
    text-align: right;
    margin: 0px 0px 0px 256px;
}

.myName {
    font-size: 3em;
    margin-top: 25px;
}

.myProfession {
    font-size: 1.5em;
}

.featuredWork {
    font-size: 2.5em;
    margin: 0px 0px 10px 15px;
    opacity: .3;
}

.featuredWorkBoxes {
    text-align: center;
}